* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./assets/ray-mallick-5J1bHRX1fNw-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper,
.emotions-container {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
}

.wrapper {
  flex-direction: column;
}

.wrapper h3 {
  margin-top: 3vh;
  font-size: 2em;
}

.emotion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 5vw;
  background-color: #fff;
  max-height: 290px;
  padding: 30px;
  border-radius: 50%;
  margin-top: 10vh;
}

.emotion:hover {
  background-color: #ffd7d7;
}

.emo-icon {
  height: 200px;
  width: 200px;
}

.mood-history {
  height: 60vh;

  flex-direction: column;
  width: 60vw;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.mood {
  height: 7vh;
  width: 50vw;
  background-color: white;
  border: 2px solid black;
  font-size: 2em;
  border-radius: 22px;
  text-align: center;
  margin-top: 3vh;
}

.paginaion-btn {
  font-size: 3em;
  max-width: 200px;
}
